.bai{
  background-color: #fff;
  width: 90%;
}
.baidark{
  background-color: #6a6d6a;
  width: 100%;
}
.left{
  text-align: left;
}
.height100{
  height: 300px;
}
.logoimg{
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 20px;
}
.imgbai{
  width: 20%;
  height: auto;
}
.bainame{
  text-align: left;
  font-size: 36px;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  margin-left: 40px;
  font-family: monospace;
}
.baitag1{
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 0px;
  margin: 10px;
  margin-bottom: 0px;
  font-family: serif;
  color: grey;
}
.baitag2{
  text-align: left;
  font-size: 28px;
  font-weight: 300;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  margin-top: 0px;
  font-family: serif;
}
.cmtbai{
  padding: 15px;
  margin: 5px;
  text-align: left;
  font-size: 24px;
  font-family: serif;
}
.ratebai{
  padding: 15px;
  margin: 5px;
  margin-left: 40px;
  text-align: left;
  font-size: 36px;
  font-family: serif;
}
.rateaankda{
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 50;
  font-family: monospace;
}
.cmtbaiinput{
  background-color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-bottom: 0.5px solid lightgrey;
}
.cmtbaiinput:hover{
  background-color: #eeffee;
  padding: 10px;
  border: 0px;
  border-bottom: 0.5px solid lightgrey;
}
.cmtbaiinput:active{
  background-color: #eeffee;
  padding: 10px;
  border: 0px;
  border-bottom: 1px;
}
.cmtbaiinput:focus{
  background-color: #eeffee;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid;
  outline: none;
}
.baicancel{
  border: 0px;
  padding: 5px;
  margin: 10px;
  background-color: #fff;
  color: grey;
}
.baiaddcomment{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: #000;
  background-color: lightgreen;
}
.baiaddcomment:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #000;
  background-color: #fff;
}
.right{
  text-align: right;
}
.div-cmt-btn{
  padding: 5px;
  margin: 5px;
  font-family: arial;
  font-size: 20px;
}
.comments{
  text-align: left;
  padding: 10px;
  font-size: 24px;
  font-family: serif;
  margin-left: 30px;
}
.checked{
  color: green;
}
.hoverstar:hover{
  color:red;
}
.hoverstar{
  width: 50px;
  height: 50px;
}
.rating{
  color: green;
  background-color: #fff;
}
/* .rating2{
  color: green;
  background-color: #fff;
}
.rating3{
  color: green;
  background-color: #fff;
}
.rating4{
  color: green;
  background-color: #fff;
}
.rating5{
  color: green;
  background-color: #fff;
} */
/* .rating2:hover {
  color: lightgreen;
} */

/* .rating1:hover{
  color: lightgreen;
}

.rating2:hover{
  color: lightgreen;
} */

.rating:hover{
  color: lightgreen;
}

@media (max-width: 768px){
  .imgbai{
    width: 60%;
    height: auto;
  }
}
